body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  .h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }
  .text1{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 2em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    animation: fadeOut 4s;
    background-color: linear  ;
  }

  @keyframes fadeOut {
    0%{
      top: 10%;
    }
    25%{
      top : 8%;
    }
    50%{
      top : 5%;
    }
    75%{
      top: 1%;
    }
    100% {
      top: -15px;
    }
  }